@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

:root {
  --max-width: 1320px;
}

@theme inline {
  --font-inter: var(--font-inter-tight);
  --breakpoint-xxl: var(--max-width);
  --color-main: hsl(206, 61%, 8%);
  --color-accent: hsl(11, 86%, 54%);
  --container-xxl: var(--max-width);

}

.animatedBtn {
  background: linear-gradient(45deg, #00237e, #3749bb, #0bc1e9, #3749bb, #00237e);
  background-size: 400% 400%;
  animation: gradientbg 15s ease-in-out infinite;
  border: none;
  color: white;
  box-shadow: none;
}

.animatedBtn:hover {
  color: var(--color-main);
}

@keyframes gradientbg {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}