/* Chrome, Safari, Edge */
.quantity[type=number]::-webkit-inner-spin-button,
.quantity[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quantity[type=number] {
  -moz-appearance: textfield;
}