@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

:root {
  --max-width: 1320px;
  --page-has-backdrop: 0;
}

@theme inline {
  --font-inter: var(--font-inter-tight);
  --font-hindSiliguri: var(--font-hind-siliguri);
  --breakpoint-xxl: 82.5rem;
  --breakpoint-xs: 30rem;
  --breakpoint-2xs: 20rem;
  --shadow-t-md: 0 -4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --color-main: hsl(206, 61%, 8%);
  --color-accent: hsl(11, 86%, 54%);
  --color-second: hsl(232, 54%, 36%);
  --container-xxl: var(--max-width);
}

.animatedBtn {
  background: linear-gradient(
    45deg,
    #00237e,
    #3749bb,
    #0bc1e9,
    #3749bb,
    #00237e
  );
  background-size: 400% 400%;
  animation: gradientbg 15s ease-in-out infinite;
  border: none;
  color: white;
  box-shadow: none;
}

.animatedBtn:hover {
  color: var(--color-main);
}

@keyframes gradientbg {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.btn-main-style {
  @apply bg-second/10 hover:bg-second text-second hover:text-white shadow-none;
}

.btn-filled-style {
  @apply bg-second/95 border-second/95 hover:bg-second shadow-none text-white;
}

.radio-second {
  @apply checked:bg-second/20 checked:text-second checked:border-second;
}

:lang(bn) {
  @apply font-hindSiliguri;
}
